<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
        <title>My Blog</title>
    </head>
<body>
    <div>
        <a class="button" href='/'>Main Blog Page</a>
        <a class="button" href='/newpost'>Add a Blog Entry</a>
        <a class="button" href="/login">Login</a>
        <a class="button" href='/logout'>Logout</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category,message in messages %}
            <p class="{{category}}">{{message}}</p>
        {% endfor %}
    {% endwith %}


    {% block content %}
    {% endblock %}

</body>
</html>