<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
        <title>My Blog</title>
    </head>
<body>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/blog'>All Posts</a></li>
        <li><a href='/newpost'>New Post</a></li>
        <li class="right"><a href='/logout'>Logout</a></li>
        <li class="right"><a href="/login">Login</a></li>
    </ul>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category,message in messages %}
            <p class="{{category}}">{{message}}</p>
        {% endfor %}
    {% endwith %}


    {% block content %}
    {% endblock %}

</body>
</html>